.top-banner {
  background-color: #66b5b6;

  &:after {
    background-image: url("./assets/doodle.png");
  }

  &__inner {
  }

  &__image {
    transform: scale(1.15) translate(4%, -3%);

    @media (max-width: 640px) {
      order: 2;
    }
  }

  &__image-holder {
    position: relative;
  }

  &__img {
    height: initial;

    &--left {
      left: 0;
      z-index: 2;
      width: 85%;
    }

    &--right {
      left: 60%;
      width: 70%;
    }
  }

  // Text

  &__pentagon {
    // margin-bottom: 4%;
  }

  &__pentagon-holder {
    background-image: url("./assets/partnerzyh_12.png");
    @media (max-width: 640px) {
      padding-bottom: 100%;
      background-size: 100% 100%;
      background-position: top;
    }
  }

  &__text {
    // padding: 10.5% 17% 0 6%;
    padding: calc(5.6rem + 5%) 5.6rem 0 5.6rem;
    text-align: right;

    @media (max-width: 1170px) {
      padding: 5.6rem 5.6rem 5.6rem 7rem !important; //! Think of better fix
    }

    @media (max-width: 720px) {
      padding: 5rem 5rem 5.6rem 5.6rem !important; //! Think of better fix
    }

    @media (max-width: 640px) {
      padding: 2rem 2rem 5.6rem 36px !important; //! Think of better fix
      background-size: cover;
    }
  }

  &__header {
    margin-bottom: 22px;
    @media screen and (max-width: 1170px) {
      font-size: 2.5vw;
    }

    @media (max-width: 640px) {
      font-size: 24px;
    }
  }
}

// SECTION BULLETS
.bullets {
  &__box {
    text-align: center;
  }
}

// SECTION STEPS
.steps {
  &__inner {
  }

  &__header {
  }

  &__boxes {
    justify-content: center;
  }

  &__box {
    max-width: 27rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 3.7rem 2rem 4.5rem 2rem;

    @media screen and (max-width: 1051px) {
      &:last-child {
        margin: initial;
        margin-right: 2rem;
        margin-bottom: 2rem;
      }
    }

    // @media screen and (max-width: 62.6rem) {
    //   margin-right: auto;
    //   margin-left: auto;
    // }
  }

  &__box-top {
    margin-bottom: 2.9rem;
  }

  &__box-par {
    max-width: 23.4rem;
    font-size: 1.4rem;
  }
}
