.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: 828px) {
    width: 750px;
  }

  @media (min-width: 1052px) {
    width: 970px;
  }

  @media (min-width: 1250px) {
    width: 1200px;
  }
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-3 {
  @media (min-width: 1052px) {
    width: 25%;
  }
}
